// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

//Variables
$border-color: #ed6c44;
* {
    font-size: 26px;
}
html,
body {
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
.main-container {
    text-align: center;
    margin-top: 40px;
}
/* orange theme */
.box.box-orange {
    border-top-color: $border-color;
}

.box.box-solid.box-orange {
    border: 1px solid $border-color;
}

.box.box-solid.box-orange > .box-header {
    color: #fff;
    background-color: $border-color;
}

.skin-orange .main-header .navbar {
    background-color: $border-color;
}

.btn-orange-outline {
    color: $border-color;
    background-color: transparent;
    background-image: none;
    border-color: $border-color;
}

.btn-orange,
.btn-orange-outline:hover,
.btn-orange-outline:active,
.btn-orange-outline:focus,
.btn-orange-outline-focus {
    color: #fff;
    background-color: $border-color;
    border-color: $border-color;
}

.btn-orange:hover,
.btn-orange:active,
.btn-orange:focus {
    color: #fff;
    background-color: $border-color;
    border-color: $border-color;
}

.btn-radius {
    border-radius: 11px;
}

.btn-orange-round {
    padding: 0;
    width: 20px;
    height: 20px;
}
.btn-cancel {
    float: left;
    margin-top: 3px;
    padding: 0px;
}
// .initial-rule-card {
//     margin-top: 6%;
//     margin-left: 5%;
// }
// .rule-card {
//     margin-left: 5%;
// }
